use flake

export DATABASE_URL="postgresql://postgres@localhost:5432/coordinator"
export RUST_LOG="info"
# export DISCORD_CLIENT_ID="your_discord_client_id"
# export DISCORD_CLIENT_SECRET="your_discord_client_secret"
# load these from a file instead: .envrc.local
if [ -f .envrc.local ]; then
  source .envrc.local
fi

